<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text="Back"
          color="primary"
          mode="ios">
        </ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img  src="/assets/img/symtosympn.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title  color="primary">Manual</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title>Síntomas del dolor de cabeza</ion-card-title>
  </ion-card-header>
  <ion-img src="/assets/img/CABEZA.jpeg"></ion-img>
  <ion-card-content  class="ion-padding contenido">
    Eléctrico, como un calambre <BR>
    De tipo opresivo, como si llevásemos un casco<BR>
    Pulsátil, como un latido<BR>
    Terebrante, como un talado<BR>
    Dolor explosivo<BR>
  </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>
    <ion-card-title>Fatiga ocular</ion-card-title>
  </ion-card-header>
  <ion-img src="/assets/img/ojo.jpg"></ion-img>
  <ion-card-content  class="ion-padding contenido">
    Ojos doloridos, cansados, con ardor o picazón<BR>
    Ojos llorosos o secos<BR>
    Visión borrosa o doble<BR>
    Dolor de cabeza<BR>
    Cuello, hombros o espalda doloridos<BR>
    Mayor sensibilidad a la luz<BR>
    Dificultad para concentrarse<BR>
    Sensación de que no puedes mantener los ojos abiertos<BR>
  </ion-card-content>
</ion-card>


  
 

</ion-content>
