<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text="Back"
          color="primary"
          mode="ios">
        </ion-back-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-avatar>
         <ion-img src="/assets/Solo-2.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title  color="primary">Manual</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
    <ion-card-title>Awesome Title</ion-card-title>
  </ion-card-header>
  <ion-card-content  class="ion-padding contenido">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, fuga eius. Hic libero, vitae magni illum quisquam a error sit eum, ad amet, harum repellat dolorum sapiente quos reiciendis quae.
  </ion-card-content>
</ion-card>

  
 

</ion-content>
